/* CSS reset */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
h1,h2,h3,h4,h5,h6,p,
hgroup,ul,ol,dd,dl,
blockquote,figure,
pre,table,fieldset,hr {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* custom CSS */

:root {
  --font-size-h1: 3rem;
  --font-size-h2: 2.5rem;
  --font-size-h3: 2rem;
  --font-size-h4: 1.5rem;
  --font-size-text: 1rem;
}

html {
  font-family: system-ui, sans-serif;
  background-color: lightgray;
}

body {
  max-width: 70ch;
  margin: 0 auto;
  padding: 0 1em;
}

footer {
  margin-bottom: 3rem;
}

section, article {
  margin-bottom: 1.5rem;
}

nav {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  .nav-link {
    text-align: center;
  }
}

p {
  font-size: var(--font-size-text);
}

h1 {
  font-size: var(--font-size-h1);
  margin: 3rem 0;
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

a:hover {
  opacity: 0.7;
}

.nav-link {
  text-decoration: none;
  font-size: 1.75rem;
  color: darkblue;
}

.skip-to-main {
  transform: translateY(-2000px);
  text-decoration: none;
  position: absolute;
  background-color: darkblue;
  color: white;
  padding: .5em 1em;
}

.skip-to-main:focus {
  transform: translate(0);
}

.anchor {
  font-size: 1.5rem;
  text-decoration: none;
  color: darkblue;
  font-weight: 500;
}

.heading-wrapper {
  display: flex;
  gap: .25rem;
}